<div class="container">
    <h2>Crear customer</h2>

    <a class="btn btn-primary" routerLink="/">Volver</a>

    <form>

        <div class="mb-3">
            <label for="firstName" class="form-label">Nombres</label>
            <input [(ngModel)]="customer.firstName" type="text" class="form-control" id="firstName" name="firstName">
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellidos</label>
            <input [(ngModel)]="customer.lastName" type="text" class="form-control" id="lastName" name="lastName">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Dirección de correo electronico</label>
            <input [(ngModel)]="customer.email" type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Modificar</button>
    </form>
</div>