<div class="container">

  <h2>Listado de Customers</h2>

  <a class="btn btn-primary" routerLink="/add">Crear Customer</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Actualizar</th>
      </tr>
    </thead>
    <tbody>
      @for (c of customers; track c.id){
          <tr>
          <th scope="row">{{c.id}}</th>
          <td>{{c.firstName}}</td>
          <td>{{c.lastName}}</td>
          <td>{{c.email}}</td>
          <td><button class="btn btn-danger" (click)="deleteCustomer(c.id)">Eliminar</button></td>
          <td><button class="btn btn-info" (click)="editCustomer(c.id)">Update</button></td>
          </tr>
      }
    </tbody>
  </table>
</div>

